@using FinalWEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/style2.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Login Gaming</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        @Html.TextBoxFor(m => m.Email, new { @class = "padding", @type = "text", @placeholder = "Correo electrónico" })<br />
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "padding", @type = "password", @placeholder = "Contraseña" })<br />
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })<br />
                                        <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                            }
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}