@model FinalWEB.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/style1.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Registro Gaming</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "padding", @type = "text", @placeholder = "Correo electrónico" })
                            @Html.PasswordFor(m => m.Password, new { @class = "padding", @type = "password", @placeholder = "Contraseña" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "padding", @type = "password", @placeholder = "Confirmar Contraseña" })
                            <input type="submit" class="btn btn-default" value="Registrarse" />
                }
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
